<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <%= paginate @blogs %>

      <%= render @blogs %>

      <%= paginate @blogs %>
    </div><!-- /.blog-main -->

    <div class="col-md-4">
      <%= render 'shared/blog_sidebar' %>
    </div>
  </div>
</main>
