<main role="main" class="inner cover">
  <div class="inner cover">
    <h1 class="cover-heading">About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile_image1.JPG", width: 300, alt: "Profile image" %>
      </div>

      <div class="col-md-8">
        <p class="lead">With over a decade of experience in a number of industries ranging from military to mortgage, I have concluded that the biggest obstacle to
          success is lack of communication. All to often results received are a far cry from the results desired and for what? Ego? Shyness? No matter the reason, developing in a
          fortress of solitude where no one can reach the developer is madness and unprofessional.</p>

        <p class="lead">For this reason I ensure constant communication with my clients is a main priority throughout the development process. Not only do I work to achieve
          your vision, but I provide daily status updates as well so that you know where the project is at all times. The end result is a product that meets your needs without all
          the uncertainty.</p>
      </div>
    </div>
  </div>
</main>
