<main role="main" class="inner cover">
  <div class="inner cover">
    <h1 class="cover-heading">What'd they say about me, anyway?</h1>
    <p class="lead">I don't like to take long strolls on the beach.</p>
    <p>I like to grind my nose on my keyboard and code.</p>
  </div>
</main>
