<main role="main" class="inner cover">
  <div class="inner cover">
    <h1 class="cover-heading">What'd they tell oyu anyway?</h1>
    <p class="lead">I don't like moonlight. I don't take long walks</p>
  </div>
</main>
