<h1 class="cover-heading">Want to work together?</h1>

<hr>

<div class="card mb-4 box-shadow">
  <div class="card-body">
    <main role="main" class="row">
      <div class="col-md-6 card-text">
        <h3>Location</h3>
        <p class="lead">I live in the Seattle area and but I also enjoy me some remote work.</p>

        <h3>Digits:</h3>
        <p class="lead">555-55-555 </p>

        <h3>Ether Mail:</h3>
        <p class="lead"><a href="mailto:test@example.com?subject=PortfolioContact" "email me">Email me</a></p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d172138.65427156273!2d-122.48214623870966!3d47.613174639999755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490102c93e83355%3A0x102565466944d59a!2sSeattle%2C+WA!5e0!3m2!1sen!2sus!4v1517696108573" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </main>
  </div>
</div>
