<main role="main" class="inner cover">
  <div class="inner cover">
    <h1 class="cover-heading">You got some pen and paper handy? You'll wanna write this down</h1>
    <p class="lead">Digits: 555-55-555 </p>
    <p class="lead">Ether Mail: test@example.com </p>
  </div>
</main>
