<!--current_user is a devise method-->
<h1>Hello there, <%= current_user.first_name %></h1>
<p>This is you know where I chill and stuff. Thanks for being wit me</p>

<h2>Blog Posts</h2>
<%= @posts.inspect %>

<h2>Skills</h2>
<%= @skills.inspect %>
