<main role="main" class="inner cover">
  <div class="inner cover">
    <h1 class="cover-heading">Get your swagger back, baby!</h1>
    <p class="lead">Don't go searching for business with dem busted ass websites. You've lost your swagga and its time to get it back.</p>
    <p class="lead">
      <%= link_to "Check me out", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>
</main>
